<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /productsales/itec116-amparo

    # Rewrite all requests to the index.php file
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

</IfModule>
